@use '../utils/mixins' as mix;

h1,
h2,
h3,
h4,
p {
  margin: 0 !important;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

a {
  @include mix.primary-color(700);
  @include mix.semi-bold;
  text-decoration: none;
}
