@use '../utils/mixins' as mix;
@use '@angular/material' as mat;
@use '../palette' as pal;

.mat-mdc-dialog-surface {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.mat-mdc-dialog-actions {
  @include mix.gap;
  justify-content: flex-end !important;
}

.mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
  padding: 1.4rem 0 0 0 !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 1.4rem 0 0 0 !important;
}
