@use '../../../scss/utils/mixins' as mix;

.mat-toolbar {
  @include mix.grey-background(100);
  @include mix.horizontal-space-between;
}

.unregistered-menu {
  @include mix.grey-background(50);
  @include mix.center;
  height: 7rem;
}

.logo {
  height: 5rem;

  &--xs {
    height: 3rem;
  }
}

.settings-button {
  @include mix.grey-color(500);

  &:hover {
    @include mix.grey-color(800);
    cursor: pointer;
  }

  &--danger {
    @include mix.error-color(600);

    &:hover {
      @include mix.error-color(300);
      cursor: pointer;
    }
  }
}

.toolbar-buttons {
  @include mix.row;
  @include mix.center;
  height: 100%;
  width: 70%;

  &__instance {
    @include mix.center;
    @include mix.fill-vertical-horizontal;
    padding-inline: 1rem;
    width: fit-content;

    &__text {
      @include mix.grey-color(400);

      &--active {
        @include mix.primary-color(600);
      }

      &:hover {
        @include mix.grey-color(500);
      }
    }
  }
}