@use '../../../scss/utils/mixins' as mix;

:host {
  @include mix.white-background;
  @include mix.shadow-1;
  @include mix.column;
  @include mix.vertical-center;
  @include mix.horizontal-start;
  @include mix.container-border-radius-xs;
  width: 40rem;

  ::ng-deep {
    .shiny-text {
        background: linear-gradient(90deg, #3aafa9, #98d6d3, #3aafa9);
        background-size: 200% auto;
        background-clip: text;
        color: transparent;
        animation: shine 2s linear infinite;
    }

    @keyframes shine {
        to {
            background-position: -200% center;
        }
    }
  }
}

.signup-option {
  @include mix.container-border-radius-xs;
  @include mix.column;
  @include mix.padding;
  @include mix.shadow-1;
  @include mix.center;

  cursor: pointer !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.back-button {
  align-self: flex-start;
}