<div class="main-padding column gap">
  <h2>Lista1</h2>
  <div class="books">
    <div class="book" (click)="goToBook(4)">
      <img src="https://storage.googleapis.com/legein-dev/cover_images/1/Captura%20de%20pantalla%202024-10-14%20a%20las%205.32.42.png" alt="book title" class="book-cover" />
      <h3>Últimas tardes con Teresa</h3>
      <p>Juan Marsé Carbó</p>
    </div>
    <div class="book" (click)="goToBook(1)">
      <img src="https://storage.googleapis.com/legein-dev/cover_images/1/Captura%20de%20pantalla%202024-10-14%20a%20las%203.41.45.png" alt="book title" class="book-cover" />
      <h3>Sobre la fotografía</h3>
      <p>Susan Sontag</p>
    </div>
  </div>
</div>