@use '@angular/material' as mat;
@use 'sass:string';
@use 'palette';

$family-font: string.unquote('Montserrat, sans-serif');

$typography-config: mat.m2-define-typography-config(
  $font-family: $family-font,
  $headline-4: mat.m2-define-typography-level(18px, 20px, 600),
  $headline-5: mat.m2-define-typography-level(32px, 38px, 600),
  $headline-6: mat.m2-define-typography-level(28px, 30px, 600),
  $subtitle-1: mat.m2-define-typography-level(22px, 24px, 600),
  $body-1: mat.m2-define-typography-level(16px, 24px, 400),
  $body-2: mat.m2-define-typography-level(16px, 20px, 400),
  $button: mat.m2-define-typography-level(14px, 20px, 500),
  $caption: mat.m2-define-typography-level(12px, 16px, 400, 0.4),
);

$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: palette.$app-primary,
      accent: palette.$app-accent,
      warn: palette.$app-warn,
      error: palette.$app-error,
    ),
    typography: $typography-config,
    density: 0,
  )
);

@include mat.core();
@include mat.all-component-themes($my-theme);
@include mat.all-component-typographies($my-theme);
